/* Global CSS */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

h2,h3,h4 {
  margin: 10px 0;
}
